/* FONT IMPORT LINKS*/

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Lato:wght@300&family=Niconne&family=Poppins:wght@300;400;500;600&family=Satisfy&family=Share+Tech+Mono&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Lato:wght@300&family=Lora:wght@400;500;600&family=Niconne&family=Poppins:wght@300;400;500;600&family=Satisfy&family=Share+Tech+Mono&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');

/* UNIVERSAL */

* {
    margin: 0;
    outline: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins", sans-serif;
}

:root {
    --header-height: 3.5rem;
    --main-color: #033a80;
    --background-color: #03045e;
    --header-color: #040674;
    --bg-color: #fff;
    --title-color: hsl(207, 4%, 16%);
    --text-color: #000;
    --text-color-light: hsl(207, 4%, 56%);
    --secondary-dark-color: #453c5c;
    --hover: hsl(260, 100%, 51%);
    --color-danger: #f75B42;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger-vaiant: rgba(247, 88, 6, .4);
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --large-font: 2.9rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --p-font: 0.941rem;
    --header-height: 3.5rem;
    --smaller-font-size: .75rem;
    --font-small: 13px;
    --font-smaller: 11px;
    --card-color: #eaf4f4;
    --hue: 207;
    --sat: 90%;
    --lig: 61%;
    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --title-font: 'Lora', serif;
    --z-tooltip: 10;
    --active-color: #29fd53;
    --calendar-background-color: hsl(207, 4%, 56%);
    --primary-clr: #b38add;
    --border-color: #e5e8ec;
    --light-text-color: #7c899a;
    --support-color: rgb(151, 100, 3);
    --light-light-text-color: #dce1de;
    --container-width-lg: 90%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    color: var(--bg-color);
    transition: background .4s;
    font-weight: 400;
    line-height: 1.4;
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--bg-color);
}


/* img {
    max-width: 100%;
    height: auto;
} */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder {
    font: inherit;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background: var(--bg-color);
    padding: 1em 2em;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

.btn a {
    color: var(--background-color);
}

.btn:hover {
    background: transparent;
    border-color: var(--bg-color);
}

.btn:hover a {
    color: var(--bg-color);
}


/*  */


/* NAV */

nav {
    background: var(--background-color);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
    box-shadow: 0 0 10px rgba(149, 148, 148, 0.2);
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav__menu,
.log__sign {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.log__sign {
    gap: 2rem;
}

.nav__menu a,
.log__sign a {
    font-size: var(--p-font);
    transition: var(--transition);
}

.nav__menu a:hover,
.log__sign a:hover {
    color: var(--light-text-color);
    font-weight: 500;
}

.log__sign li a {
    border: 1px solid transparent;
    padding: 3px 5px;
    outline: none;
    border-radius: 3px;
    transition: var(--transition);
    font-weight: 400;
}


/*  */


/* MAIN */

.main {
    /* display: flex; */
    align-items: center;
    /* gap: 1.5rem; */
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 80vh;
    margin-bottom: 5rem;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 10rem;
    height: 100%;
    /* border: 1px solid white; */
    padding: 2em 5em;
}

.image {
    flex: 1 1 40rem;
}

.intro .main_content h1 {
    font-size: var(--large-font);
}

.intro .main_content p {
    margin: 1rem 0 2.4rem;
}


/* .log__sign li a:hover {} */


/*  */


/* MEDIA QUERIES */

@media (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--bg-color);
        cursor: pointer;
        transition: background 400ms;
        animation: navButtonAnimate 500ms linear backwards;
        transform-origin: center;
    }
    @keyframes navButtonAnimate {
        0% {
            transform: rotateZ(-180deg);
            opacity: 0;
        }
        100% {
            transform: rotateZ(0);
            opacity: 1;
        }
    }
    nav button#close-menu-btn {
        display: none;
    }
    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .log__sign {
        display: flex;
        flex-direction: row;
        position: fixed;
        top: 1.8rem;
        gap: 2rem;
        right: 15%;
        align-items: center;
        width: 15rem;
    }
    .nav__menu li {
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 1s linear forwards;
        transform-origin: top center;
        opacity: 0;
        transform: translateY(-100%);
    }
    .nav__menu li:nth-child(2) {
        animation-delay: .3s;
    }
    .nav__menu li:nth-child(3) {
        animation-delay: .7s;
    }
    .nav__menu li:nth-child(4) {
        animation-delay: 1s;
    }
    .nav__menu li:nth-child(5) {
        animation-delay: 1.3s;
    }
    @keyframes animateNavItems {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
    .nav__menu li a {
        background-color: var(--header-color);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    /* .log__sign li a {
        background-color: var(--secondary-dark-color);
    } */
    .nav__menu li a:hover {
        background-color: var(--light-text-color);
        color: var(--bg-color);
    }
    .log__sign li a:hover {
        background-color: var(--secondary-dark-color);
        color: var(--bg-color);
    }
    /*  */
    /* MAIN */
    .main {
        top: 5rem;
        height: auto;
    }
    .intro {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 5rem;
        height: 100%;
    }
    .image {
        flex: 1 1 40rem;
    }
    .intro .main_content h1 {
        font-size: var(--large-font);
    }
    .intro .main_content p {
        margin: 1rem 0 2.4rem;
    }
}